body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.date-header {
    margin-bottom: 10px;
    font-size: 30px;       /* size of the date header */
    font-weight: bold; 
}

#goals label {
    display: block;
    margin: 5px 0;
}



.chart-container {
    width: 100%;
    border-top: 0px solid black;    /* couldnt get rid of it but made it 0px*/
    position: relative;
    height: 340px;           /* height of the base blaclk line of the graph form topo*/
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    
}

.chart-bar {
    width: 30px;
    background-color: #6495ED;
    margin: 0 5px;
    transition: height 0.3s ease;
}

.chart-container::before {
    content: '';
    position: absolute;
    bottom: 18px;
    width: 100%;
    border-bottom: 3px solid #000000;
}

.chart-bar.highlighted-day {
    border: 3px solid #FF4500; 
}


.chart-bar.today {
    background-color: #32CD32; 
}


#goals {
    display: flex;      /* flexes according to the size given , if row , it will go on till full i think  */
    flex-wrap: wrap;           /* mutiple lienes  */
    flex-direction: row;        /* default is row but still added it   */

    justify-content: center; /* This centers the labels  */
    gap: 15px; 
}


#resetLocalStorageButton {
    position: fixed;  
    top: 10px;        
    right: 10px;      
    background-color: rgb(216, 15, 15);   
    color: white;           
    border: none;            
    padding: 5px 5px;       /* Padding around the text */
    cursor: pointer;        /*  change the cursor  */
}

#resetLocalStorageButton:hover {
    background-color: rgb(83, 1, 1);  /*  hhover color  */
}
